@import "tailwindcss";

:root {
  --main-orange: #f18046;
  --sec-orange: #fff3ec;
  --dark-grey: #73757b;
  --light-grey: #f8f8f8;
}

* {
  font-family: "Nunito", sans-serif;
}

.ant-menu-item {
  color: var(--dark-grey) !important;
  border-left: 5px solid transparent;
  font-weight: 600;
  font-size: 1rem;
  margin-block-end: 1rem !important;
  padding-block: 1.5rem !important;
}

.ant-menu-item:hover {
  background-color: var(--sec-orange) !important;
}

.ant-menu-item-selected {
  color: var(--main-orange) !important;
  background-color: var(--sec-orange) !important;
  border-left: 5px solid var(--main-orange);
  font-weight: 600;
}

.logo {
  text-align: center;
  margin-block: 1rem;
  font-weight: 700;
  font-size: 2.5rem;
}
